---
import Base from "../layouts/Base.astro"

const {...offre} = Astro.props;
---

<div x-data="{favori: '${favori}'}" x-bind:class="{'bg-gray-200': favori}" class="m-8 p-5 flex flex-col items-center justify-center">
    <img class="w-64 h-64" src={offre.imgUrl} alt={offre.nom} />
    <h2 class="text-xl mb-2">{offre.adresse}</h2>
    <p class="text-blue-400 ml-6">{offre.nom}</p>
    <div>
        <p class="text-sm text-red-600">{offre.prix}€</p>
        <p class="mb-4">{offre.surface}m²</p>
    </div>
    <div class="flex items-center gap-8">
        {offre.favori && <p>⭐️</p>}
        <button x-on:click="favori = !favori">Favori</button>
    </div>
</div>